{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block meta %} {% endblock %}

{% block title %} Mini - Twitt {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
{% load static %}
<hr>
<div class="container">
    <div class="jumbotron box">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'user:index' %}"><img src="{% static 'img/logo.png' %}" class="img-responsive"></a>
                </div>
                <hr>
                <div class="col-md-12">
                    <h1 class="text-center"><strong>Inicio de sesion</strong></h1>
                </div>
            </div>
            <div class="formulario">
                <div class="col-md-6">
                    <form method="POST" class="form-horizontal">
                        {% csrf_token %}
                        <fieldset>
                            {{ form|crispy }}
                                <div class="form-group">
                                  <div class="col-lg-12 text-center">
                                    <p class="text-danger nota"><b>Nota: </b>Por favor ingrese las credenciales sin ninguna accion maliciosa, gracias.</p>
                                      <p class="text-success nota"><a href="{% url 'auth_password_reset' %}">¿ Ha olvidado su contraseña ?</a></p>
                                    <button type="submit" class="btn btn-success">Entrar</button>
                                  </div>
                                </div>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title text-center"><b>Tendencias</b></h3>
                      </div>
                      <div class="panel-body">
                        Twitt's...
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>

{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}