body {
    background: url("../img/fondo2.png");
    width: 100%;
}

footer {
    margin-top: 4em;
    clear: both;
}

/*

 */

/* media */
.logo
{
    display: block;
    left: 30%;
    position: absolute;
    margin: auto;
    top: 1em;
    font-family: 'Frijole', 'Arial';
    font-size: 15pt !important;
}

.list-twitts
{
    margin-top: 30px;
    width: 100%;
}

