body {
    background: url("../img/fondo2.png");
    width: 100%;
}


.jumbotron img
{
    width: 250px;
    margin-left: 0px;
}
.jumbotron p
{
    font-size: 10pt;
}

.formulario
{
    margin-top: 50px;
}