{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block meta %} {% endblock %}

{% block title %} Mini - Twitt {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_profile.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h3>

                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>

                <b>{{ request.user }}</b></h3>
            </div>
            <div class="col-md-12">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-danger boton-twitt" type="submit">Enviar twitt <i class="fa fa-paper-plane fa-1x" aria-hidden="true"></i></button>
                </form>
            {% if error %}
                <p>Se ha producido un error al enviar el tweet</p>
            {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary list-twitts">
                <div class="panel-heading">
                    <h3 class="panel-title">Mis Twitt's</h3>
                </div>
                <div class="panel-body">
                    {% for a in twitts %}
                    <hr>
                    <div class="row text-center">
                        <div class="t_nick col-md-12">
                            <p class="text-left">{{ a.user_twit }}</p>
                        </div>
                        <div class="t_body col-md-12">
                            <span>{{ a.text }}</span>
                        </div>
                        <div class="t_footer col-md-12">
                            <p class="text-right">{{ a.date_twit }}</p>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}